html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
/*
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
*/
    }
#music{
    width:60px;
    height: 60px;
    position: fixed;
    top:10px;
    left: 80%;
    z-index: 9;
}
.musicImg{
width: 44px;
    height: 44px;
    position: absolute;
    top: 8px;
    left: 8px;
     animation: turn 6s infinite linear;
}
@keyframes turn {
            0%
            {
                transform: rotate(0deg);
            }
            100%
            {
                transform: rotate(360deg);
            }
        }
.musicIg{
    width: 60px;
    height: 60px;
}
.swiper-slide.one{
    width: 100%;
    background:url("../img/256b503047143ff099efd9c57a75e51e.jpg");
  
    background-size: 100% 100%;
}
.swiper-slide.one .top{
    width: 70%;
    height: 6%;
    margin: 0 auto;
    color:#fff;
    margin-top: 10%;
    font-family: 楷体;
         font-size: 16px;
}
.swiper-slide.one .tou{
    width: 60%;
    height: 34%;
    margin: 0 auto;
    margin-top: 6%;
     position: relative;
    text-align: center;
}
.swiper-slide.one .tou .back{
    width: 100%;
    height: 100%;
   position: absolute;
    animation: run 0.4s 1.8s linear;
    left: 0%;
     animation-fill-mode:forwards;
}
.swiper-slide.one .tou .tupian{
    width: 98%;
    height: 98%;
    position: absolute;
    left: 1%;
    top:1%
}
 @keyframes run {
            0%
            {
                transform: rotate(0deg);
                 opacity:0;
                z-index: 1;
                background-image: url("../img/9f077702680d1fe0dd1ffba7955b1665.png");
               background-size:100% 100%;
            }
            100%
            {
                transform: rotate(180deg);
                 opacity:1;
                z-index: 8;
                background-image: url("../img/9f077702680d1fe0dd1ffba7955b1665.png");
                background-size:100% 100%;
            }
        }
.swiper-slide.one .tou h3{
    color:#fff;
    z-index: 9;
    position: absolute;
    width: 70%;
    height: 10%;
    margin: auto;
    left: 16%;
    top:35%;
     font-family:楷体;
}
.swiper-slide.one .tou h1{
    color:#fff;
    z-index: 9;
    position: absolute;
        width: 70%;
    height: 10%;
    margin: auto;
    left: 17%;
    top:45%;
     font-family:楷体;
}
.swiper-slide.one .three{
    width:60%;
    height: 10%;
    margin: 0 auto;
    color:#fff;
    margin-top: 35%;
    font-family: 楷体;
}
.swiper-slide.one .four{
        width: 70%;
    height: 6%;
    margin: 0 auto;
    color:#fff;
    margin-top: 15%;
     font-family:楷体;
}
.swiper-slide.second{
    width: 100%;
    height: 100%;
    background:url("../img/256b503047143ff099efd9c57a75e51e.jpg");
background-size: 100% 100%;
}
.swiper-slide.second .top{
     width: 70%;
    height: 6%;
    margin: 0 auto;
    color:#fff;
    margin-top: 10%;
     font-family: 楷体;
}
.swiper-slide.second .tou{
    width: 70%;
    height: 10%;
    margin: 0 auto;
    position: relative;
    margin-top: 10%;
}
.swiper-slide.second .tou img{
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
}
.swiper-slide.second .tou h2{
	width: 100%;
	height: 100%;
    position: absolute;
    color:#fff;
   font-family: 楷体; 
   left: 50%;
   top:50%;
   transform: translate(-50%,-50%);
   }
.swiper-slide.second .thsee{
    width: 60%;
    height: 50%;
    margin: auto;
    margin-top: 7%;
    position: relative;
}
.swiper-slide.second .thsee img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
.swiper-slide.second .thsee p{
    position: absolute;
    width: 85%;
    height:80%;
    color:#fff;
    left: 7.5%;
    font-size: 16px;
      font-family: 楷体;
    overflow: hidden;
}
.five{
       width:60px;
    height: 60px;
    position: fixed;
    top:93%;
    left: 43%;
    z-index: 9;
     animation: run1 1.5s 1s infinite linear;
}
.swiper-slide.second .four{
         width: 70%;
    height: 6%;
    margin: 0 auto;
    color:#fff;
    margin-top: 15%;
     font-family: 楷体
}
/*第三页*/
.swiper-slide.thsee{
   background:url(../img/256b503047143ff099efd9c57a75e51e.jpg);
    background-size:100% 100%;
}
.swiper-slide.thsee .top{
    width: 70%;
    height: 10%;
    color:#fff;
    margin: 0 auto;
      font-family: 楷体;
         font-size: 16px;
}
.swiper-slide.thsee .tou{
    width: 82%;
    height: 72%;
    margin: 0 auto;
position: relative;
    color:#fff;
}
.swiper-slide.thsee .tou img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
}
.swiper-slide.thsee .tou .this{
    width: 89%;
    height: 80%;
    margin: 0 auto;
position: absolute;
    left: 5%;
    top:10%;
}
    .swiper-slide.thsee .tou .this button{
      width: 35%;
        height: 10%;
        font-size: 24%;
        position: absolute;
        top:80%;
        left: 36%;
    
    }
    
}
.swiper-slide.thsee .then{
    color:#fff;
}
/*第三页结束*/
/*第四页*/
.swiper-slide.font{
    width: 100%;
    height: 100%;
     background:url(../img/256b503047143ff099efd9c57a75e51e.jpg);
     background-size: 100% 100%;
}
.swiper-slide.font .one{
    margin-top: 10%;
    color:#fff;
}
.swiper-slide.font .one h3{
       font-family: 楷体;
         font-size: 16px; 
}
.swiper-slide.font .top{
    width: 70%;
    height: 50%;
    margin-top: 10%;
margin-left: 13%;
    border:10px solid #fff;
}
.swiper-slide.font .fons{
    
}
.swiper-slide.font .thess{
    color:#fff;
    width: 70%;
    height: 5%;
    margin: 0 auto;
}
.swiper-slide.font .thess p{
    float: left;
}
.swiper-slide.font .fons{
    width: 70%;
    height: 5%;
    margin-left: 10%;
    margin-top: 5%;
}
span{
    color:#fff;
    font-size: 16px;
    float: left
}
/*第四页结束*/
/*第五屏*/
.swiper-slide.queng{
    width: 100%;
    height: 100%;
     background:url(../img/256b503047143ff099efd9c57a75e51e.jpg);
    background-size: 100% 100%;
   
    
}
.swiper-slide.queng .top{
 font-family: 楷体;
         font-size: 16px;
    color:#fff;
    margin-top: 20%;
}
.swiper-slide.queng .conter {
    width: 80%;
    height: 60%;
    position: relative;
    margin: 0 auto;
    top:5%;
}
.swiper-slide.queng .conter img{
    width: 100%;
    height: 100%;
}
.swiper-slide.queng .conter .conter1{
        position: absolute;
    width: 80%;
    height: 36px;
    border-width: 1px;
    border-color: rgb(24, 204, 192);
    border-style: solid;
    background: rgb(252, 252, 252);
    border-radius: 8px;
    color: rgb(75, 75, 75);
    font-size: 14px;
    line-height: 36px;
    padding: 0px 10px;
    left: 6%; 
    top:10%;
}
.swiper-slide.queng .conter .conter2{
        position: absolute;
    width: 80%;
    height: 36px;
    border-width: 1px;
    border-color: rgb(24, 204, 192);
    border-style: solid;
    background: rgb(252, 252, 252);
    border-radius: 8px;
    color: rgb(75, 75, 75);
    font-size: 14px;
    line-height: 36px;
    padding: 0px 10px;
 left: 6%; 
    top:25%;
}
.swiper-slide.queng .conter .conter3{
        position: absolute;
    width: 80%;
    height: 36px;
    border-width: 1px;
    border-color: rgb(24, 204, 192);
    border-style: solid;
    background: rgb(252, 252, 252);
    border-radius: 8px;
    color: rgb(75, 75, 75);
    font-size: 14px;
    line-height: 36px;
    padding: 0px 10px;
    left: 6%; 
    top:40%;
}
.swiper-slide.queng .conter .conter4{
        position: absolute;
    width: 80%;
    height: 36px;
    border-width: 1px;
    border-color: rgb(24, 204, 192);
    border-style: solid;
    background: rgb(252, 252, 252);
    border-radius: 8px;
    color: rgb(75, 75, 75);
    font-size: 14px;
    line-height: 36px;
    padding: 0px 10px;
 left: 6%; 
    top:55%;

}
.swiper-slide.queng .conter .cont{
    padding: 0px 17px;
    width: 70%;
    height: 36px;
    border-color: rgb(24, 204, 192);
    border-style: solid;
    text-align: center;
    background: rgb(24, 204, 192);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    line-height: 36px;
    position: absolute;
    top:70%;
    left:8%;
}
.swiper-slide.queng .fonts{
    color:#fff;
    margin-top: 10%;
}
/*第五屏结束*/
/*第六屏*/
.swiper-slide.six{
	width: 100%;
	height: 100%;
	background:url(../img/256b503047143ff099efd9c57a75e51e.jpg);
	background-size:100% 100%;
	color:#fff;
	}
	.swiper-slide.six .top{
		width: 80%;
		height: 10%;
		margin: 0 auto;
		margin-top: 10%;
		}
		.swiper-slide.six .top h3{
			font-family: 楷体;
         font-size: 16px;
			}
			.swiper-slide.six .conter{
				width: 60%;
				height: 40%;
				margin: 0 auto;
				}
.swiper-slide.six .conter img{
    width: 100%;
    height: 100%;
}
		.swiper-slide.six .buttom{
			width: 80%;
			height:25% ;
			margin: 0 auto;
            margin-top: 20%;
			}		
/*第六屏结束*/